<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layouts/default">
<head>
</head>
<body>
<div class="container" layout:fragment="content">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="inputEmail" class="col-sm-2 control-label">ID</label>
			<div class="col-sm-6"></div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-sm-2 control-label">제목</label>
			<div class="col-sm-6"></div>
		</div>
		<div class="form-group">
			<label for="inputPasswordCheck" class="col-sm-2 control-label">내용</label>
			<div class="col-sm-6"></div>
		</div>
		<div class="form-group">
			<label for="inputRipple" class="col-sm-2 control-label">작성자</label>
			<div class="col-sm-6"></div>
		</div>
		<div class="form-group">
			<label for="inputName" class="col-sm-2 control-label">작성일시</label>
			<div class="col-sm-6"></div>
		</div>
	</form>
</div>
</body>
</html>